@font-face { 
  font-family: 'agfutura'; 
  src:  url('../fonts/agfutura_regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'agfutura'; 
  src:  url('../fonts/agfutura_bold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Stem'; 
  src:  url('../fonts/Stem-Light.otf') format('OpenType');
  font-weight: lighter; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Stem'; 
  src:  url('../fonts/Stem-Bold.otf') format('OpenType');
  font-weight: bold; 
  font-style: normal; 
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'agfutura', sans-serif;
  font-weight: normal;
  min-width: 320px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__container {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  top: 0;
  width: 82%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9%;
  padding-right: 9%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF;
}

.header__container--min { 
  min-height: 80px;
}

.header__logo,
.footer__logo {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .header__container,
  .footer {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo,
  .footer__logo {
    font-size: 40px;
    line-height: 47px;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.contacts {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__list--social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list--social img {
  width: 100%;
  height: auto;
}

.contacts__list--address {
  width: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__item a {
  text-decoration: none;
  color: #2C00DA;
}

.contacts__item p {
  margin: 0;
  cursor: pointer;
  color: #2C00DA;
}

.contacts__item--mail,
.contacts__item--address {
  font-size: 22px;
  line-height: 36px;
  border-bottom: 1px solid #2C00DA;
}

.contacts__item--mail-small {
  display: none;
}

.contacts__item--tel span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 1370px) {
  .contacts__list--address {
    width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1280px) {
  .contacts__list--social {
    width: 95px;
  }
}

@media (max-width: 1024px) {
   .contacts {
    width: 100%;
  }

  .contacts__list--social {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__list--address {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__item--mail,
  .contacts__item--address {
    font-size: 20px;
    line-height: 30px;
    border-bottom: none;
  }

  .contacts__item span {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (max-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__list--social {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }

  .contacts__list--address {
    width: 310px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

.offer-top {
  position: relative;
  max-width: 1620px;
  min-height: 681px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: radial-gradient(circle farthest-corner at 30% 50%, #FEFFFF, #a0a0a0);
  padding-top: 290px;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
}

.offer-top__wrap-left {
  z-index: 10;
}

.offer-top__wrap-right {
  position: relative;
  width: 735px;
}

.offer-top__img {
  position: absolute;
  width: 850px;
  height: 900px;
  right: 50px;
  bottom: 0;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes move {
  0% {
    right: -1000px;
  } 
  100% {
    right: 50px;
  }
}

@keyframes move {
  0% {
    right: -1000px;
  } 
  100% {
    right: 50px;
  }
}

.offer-top__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 60px;
  line-height: 56px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.offer-top__text {
  margin: 0;
  margin-bottom: 105px;
  padding-left: 30px;
  font-size: 130px;
  line-height: 122px;
  font-weight: 700;
  color: #E31818;
  text-shadow: 0px 6px 8px rgba(0,0,0,0.17);
  letter-spacing: 0.02em;
}

.offer-top__btn {
  width: 327px;
  height: 90px;
  margin-left: 30px;
  border-style: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  background-color: #E31818;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
  cursor: pointer;
}

.offer-top__btn:hover {
  background-color: #151515;
}

@media (max-width: 1024px) {
  .offer-top {
    min-height: 570px;
    padding-top: 190px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .offer-top__img {
    width: 650px;
    height: 700px;
  }

  .offer-top__title {
    padding-left: 0;
    margin-bottom: 30px;
    font-size: 45px;
  }

  .offer-top__text {
    padding-left: 0;
    margin-bottom: 85px;
    font-size: 100px;
  }

  .offer-top__btn {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .offer-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 300px;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .offer-top__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 35px;
  }

  .offer-top__text {
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 60px;
  }

  .offer-top__wrap-right {
    display: none;
  }
}

.gallery {
  max-width: 1920px;
  margin: 0 auto;
}

.gallery__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__item {
  position: relative;
  width: 385px;
  cursor: pointer;
}

.gallery__item--icon {
  position: relative;
  cursor: pointer;
  z-index: 50;
  overflow: hidden;
}

.gallery__item--icon::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  top: 50%;
  left: -20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url('../img/icon-search.png') no-repeat center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gallery__item--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2C00DA;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery__item--overlay:hover {
  background-color: #2C00DA;
  opacity: 0.5;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.gallery__item--icon:hover::before {
  left: 50%;
}

.gallery__item--video {
  position: relative;
  width: 600px;
  z-index: 50;
}

.gallery__item--video::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 104px;
  height: 73px;
  background: url('../img/icon-yt.png') no-repeat center;
}

@media (max-width: 1024px) {
  .gallery__item--icon::before {
    background-size: 50%;
  }

  .gallery__item--video::before {
    width: 54px;
    height: 33px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .gallery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery__item {
    width: 100%;
  }
}

.offer-bottom {
  max-width: 1620px;
  margin: 0 auto;
  padding-top: 190px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  background: url('../img/offer-bottom-bg.jpg') no-repeat center;
  background-size: cover;
}

.offer-bottom__title {
  margin: 0;
  font-size: 100px;
  line-height: 117px;
  font-weight: 700;
}

.offer-bottom__text--black {
  display: block;
  margin-left: 360px;
  margin-top: -90px;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  text-decoration: line-through;
}

.offer-bottom__text--red {
  display: block;
  margin-left: 320px;
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  color: #E31818;
}

.offer-bottom__btn {
  display: block;
  width: 622px;
  height: 90px;
  margin-bottom: 80px;
  border-style: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  background-color: #E31818;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
  cursor: pointer;
}

.offer-bottom__btn:hover {
  background-color: #151515;
}

@media (max-width: 1024px) {
  .offer-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .offer-bottom__btn {
    width: 560px;
  }
}

@media (max-width: 768px) {
  .offer-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .offer-bottom__title {
    font-size: 60px;
    line-height: 60px;
  }

  .offer-bottom__text--black {
    display: block;
    margin-left: 200px;
    margin-top: -50px;
    font-size: 40px;
    line-height: 30px;
  }

  .offer-bottom__text--red {
    display: block;
    margin-left: 170px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 64px;
  }

  .offer-bottom__btn {
    width: 100%;
  }
}

.counter {
  width: 620px;
}
.counter__text {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.counter__clock {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

@media (max-width: 1024px) {
  .counter {
    width: 530px;
  }
} 

@media (max-width: 768px) {
  .counter {
    width: 100%;
    margin: 0 auto;
  }

  .counter__text {
    font-size: 26px;
    line-height: 35px;
  }
}

.work-time__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #151515;
  text-align: right;
  margin-bottom: 20px;
}

.work-time__text {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: right;
}

.footer {
  width: 82%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9%;
  padding-right: 9%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
 
.modal1 {
  font-family: 'Stem', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  height: 100vh;
}

.modal1__container {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
  background-color: #FBFBFB;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close__btn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 32px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close__btn::before,
.close__btn::after {
  position: absolute;
  content: "";
  width: 40px;
  right: -5px;
  border: 1px solid #000000;
}

.close__btn::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close__btn::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg)
}

.close__btn:hover::before,
.close__btn:hover::after {
  border-color: #E31818;
}

.modal1 h1 {
  margin: 0;
  font-size: 40px;
  line-height: 33px;
  font-weight: 300;
}

.modal1 span {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}

.modal1__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal1__form input[type="text"],
.modal1__form input[type="tel"] {
  font-family: 'Stem', sans-serif;
  border-style: none;
  padding-bottom: 5px;
  font-size: 24px;
  border-bottom: 1px solid #54524E;
  background-color: #FBFBFB;
}

.modal1__form input[type="text"] {
  margin-bottom: 40px;
}

.modal1__form input[type="tel"] {
  margin-bottom: 60px;
}

::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 24px;
  color: #54524E;
}

:-ms-input-placeholder {
  font-size: 24px;
  line-height: 24px;
  color: #54524E;
}

::placeholder {
  font-size: 24px;
  line-height: 24px;
  color: #54524E;
}

.modal1__form input[type="submit"] {
  width: 327px;
  height: 90px;
  color: #F2F2F2;
  background-color: #E31818;
  border-radius: 50px;
  font-size: 30px;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.29);
  cursor: pointer;
}

.modal1__form input[type="submit"]:hover {
  background-color: #151515;
}

@media (max-width: 1024px) {
  .modal1__container {
    width: 230px;
    padding: 50px;
  }

  .modal1 h1 {
    font-size: 28px;
    line-height: 33px;
  }

  .modal1 span {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .modal1__form {
  width: 100%;
  }

  .close__btn::before,
  .close__btn::after {
    position: absolute;
    content: "";
    width: 25px;
    right: -5px;
    border: 1px solid #000000;
  }

  .modal1__form input[type="text"] {
    margin-bottom: 20px;
  }

  .modal1__form input[type="tel"] {
    margin-bottom: 40px;
  }

  ::-webkit-input-placeholder {
    font-size: 20px;
  }

  :-ms-input-placeholder {
    font-size: 20px;
  }

  ::placeholder {
    font-size: 20px;
  }

  .modal1__form input[type="submit"] {
    width: 100%;
    height: 70px;
    font-size: 26px;
  }
}


.modal2 {
  font-family: 'Stem', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  height: 100vh;
}

.modal2__container {
  width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px;
  background-color: #FBFBFB;
  outline: 1px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal2__wrap {
  width: 260px;
}

.modal2__address {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}

.modal2__text1 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 25px;
  letter-spacing: 0.02em;
}

.modal2__text2 {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 30px;
  letter-spacing: 0.02em;
}

.modal2__link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #2C00DA;
  margin-bottom: 15px;
}

.modal2__list {
  list-style: none;
  margin: 0;
  padding: 0;  
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

iframe {
  width: 380px; 
  height: 360px; 
  border: none;
}

@media (max-width: 1024px) {
  .modal2__container {
    width: 610px;
    padding: 50px;
  }

  .modal2__address {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .modal2__text1 {
    margin-bottom: 10px;
  }

  .modal2__text2 {
    margin-top: 20px;
  }

  .modal2__link {
    margin-bottom: 5px;
  }

  iframe {
    width: 300px; 
    height: 300px; 
  }
}

@media (max-width: 768px) {
  .modal2__container {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;

  }

  iframe {
    width: 290px; 
    height: 290px; 
  }
}

.modal3 {
  font-family: 'Stem', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal3__sidebar {
  position: relative;
  width: 150px;
  background-color: #000000;
  opacity: 0.7;
}

.modal3__close-btn {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal3__close-btn::before,
.modal3__close-btn::after {
  position: absolute;
  content: "";
  width: 60px;
  left: -5px;
  border: 2px solid #ffffff;
}

.modal3__close-btn::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal3__close-btn::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg)
}

.modal3__close-btn:hover::before,
.modal3__close-btn:hover::after {
  border-color: #E31818;
}

.modal-show {
  display: block;
}
